section.hero {
  font: var(--text-xl);
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 2rem;
  margin-inline: auto;

  h1{
    max-width: 52rem;
  }

  h1 div{
    display: inline-block;
    /* border: 1px lime solid; */
    overflow: hidden;
    height: 4.9rem;
    width: min-content;
    vertical-align: bottom;
  }

  h1 span:nth-child(1), h1 span:nth-child(4){
    color: var(--snitap-sky-mid);
  }

  h1 span:nth-child(2){
    color: var(--snitap-joy-mid);
  }

  h1 span:nth-child(3){
    color: var(--snitap-leaf-mid);
  }

  h1 span{
    display: block;
    /* border: 1px lightblue solid; */

    animation: slideup 5s infinite ease;
  }
}

@keyframes slideup{
  
    /* radical static */
  0%, 22% {
    transform: translateY(0);
  }

    /* divertida in */
  23% {
    transform: translateY(calc(-5rem - 15px));
  }
  25% {
    transform: translateY(calc(-5rem + 10px));
  }
  27% {
    transform: translateY(calc(-5rem - 5px));
  }
  29% {
    transform: translateY(calc(-5rem + 5px));
  }
  
    /* divertida static */
  33%, 55% {
    transform: translateY(-5rem);
  }

    /* saudavel in */
  57% {
    transform: translateY(calc(-10rem - 15px));
  }
  59% {
    transform: translateY(calc(-10rem + 10px));
  }
  61% {
    transform: translateY(calc(-10rem - 5px));
  }
  63% {
    transform: translateY(calc(-10rem + 5px));
  }

    
    /* saudavel static */
  66%, 88% {
    transform: translateY(-10rem);
  }

    /* radical in */
    90% {
      transform: translateY(calc(-15rem - 15px));
    }
    92% {
      transform: translateY(calc(-15rem + 10px));
    }
    94% {
      transform: translateY(calc(-15rem - 5px));
    }
    96% {
      transform: translateY(calc(-15rem + 5px));
    }

    /* radical static */
  100% {
    transform: translateY(-15rem);
  }
}